.menu-container
{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(218, 220, 233);
}

.main-menu
  {
    list-style-type: none;
    margin: 0px;
  }

  .main-menu li
  {
    display: inline;
  }

  .products-container
  {
    width:100%; 
    display:flex; 
    justify-content:center;
  }

  .products-container-list
  {
    width:60%;
  }

  .product-box
  {
    width:100%; 
    display: flex;
    flex-flow: row wrap;
  }

  .product-box-left
  {
    width:30%;
  }

  .product-box-right
  {
    width:70%;
  }

  .img-product
  {
    height: 200px;
  }


  /* contact form */

  .container {
    max-width: 500px;
    margin: 50px auto;
    text-align: left;
    font-family: sans-serif;
}

form {
    border: 1px solid #1A33FF;
    background: #ecf5fc;
    padding: 40px 50px 45px;
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

label {
    font-weight: 600;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}