.wrapper
{
    width: 1200px;
    margin: 0 auto;
}

.products-container
{
    
}

svg
{
  width: 30px;
}

.table-products
{
    border-collapse: collapse;
    margin: 0 auto;
}
  
.table-products tr, td {
    border: 1px solid black;
}

.table-products td
{
    padding: 10px;
}

.add-btn
{
  background-color: #4CAF50;
  
  padding: 5px;
  border-radius: 10px;
  color:black;
  text-decoration: none;
}

  .edit-btn
  {
    background-color: #008CBA;
    
    padding: 5px;
    border-radius: 10px;
    color:black;
    text-decoration: none;
  }

  .delete-btn
  {
    background-color: #f44336;
    
    padding: 5px;
    border-radius: 10px;
    color:black;
    text-decoration: none;
  }

  .show-btn
  {
    background-color: orange;
    
    padding: 5px;
    border-radius: 10px;
    color:black;
    text-decoration: none;
  }

  .logout-btn
  {
    background-color: yellow;
    
    padding: 5px;
    border-radius: 10px;
    color:black;
    text-decoration: none;
  }

  .admin-panel-logo
  {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .admin-panel-logo img
  {
    width: 300px;
  }


  .text-center
  {
    text-align: center;
  }

  .td-id
  {
    min-width: 30px;
  }

  .td-product-name
  {
    min-width: 300px;
  }

  .td-description
  {
    min-width: 200px;
  }

  .td-photo
  {
    min-width: 100px;
  }

  .td-actions
  {
    min-width: 200px;
  }

  .description
  {
    width: 50%;
  }

  .product_name
  {
    width: 30%;
  }

  .footer-container
  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 30px;
    
  }

  .crud h2
  {
    margin-top: 0px;
  }


  